<!DOCTYPE html>
<html>
<head>
	<title>Radxa project</title>
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">product-->
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">product-->
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css"><!--deve-->
	<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css"><!--deve-->
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/font.css">
	<link rel="stylesheet" type="text/less" href="/less/project.less"> <!-- less-css -->
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
</head>

<body data-spy="scroll" data-target=".hehee">
	<% include ../header %>
	<div class="jumbotron marked">
		<div class="container" id="bigbord">
			<%- index %>
	  	</div>
	</div>
	<div class="allcontent container">

		<div class="row">
			<div class="rightframe col-md-2 visible-md visible-lg">
 				<div class='bs-sidebar hehee ' role="complementary">
					<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="500">
            		</ul>
				</div>
			</div>
			<div class="centerframe col-md-9 col-xs-12 marked">
				<% for( var s = 0; s < marks.length; s++ ){ %>
					<section class="sec">
					<div class="marktext">
						<%- marks[s].text %>
					</div>
					<% if (marks[s].imgs_min.length > 0) {%>
					<div class="imgswrap">
						<h3 class="text-muted">Photo</h3>
						<% for( var k = 0; k < (marks[s].imgs_min).length; k++ ){ %>	
							<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" index="a<%= s %>-<%= (marks[s].imgs_min).length %>-<%= k %>">
								<%- (marks[s].imgs_min)[k] %>
							</a>
						<% } %>
					</div>
					<% } %>
					<% if (marks[s].video.length > 0) {%>
						<div class="videos">
							<h3 class="text-muted">Video</h3>
							<% for( var m = 0; m < (marks[s].video).length; m++ ){ %>
								<figure href="#portfolioModal2" class="portfolio-link" data-toggle="modal" >
								<video src="<%= (marks[s].video)[m] %>" ></video>
								<i class="fa fa-play-circle-o"></i>
								</figure>
							<% }%>
						</div>
					<% }%>
					</section> 
				<% } %>
			</div>
		</div>
	</div>

	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" >
	  <div class="modal-dialog"> 
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
			  <div class="carousel-inner wrap">
			  </div>
			  <!-- Controls -->
			  <a class="left carousel-control flexbox" href="#carousel-example-generic" data-slide="prev">
			    <i class="fa fa-chevron-left"></i>
			  </a>
			  <a class="right carousel-control flexbox" href="#carousel-example-generic" data-slide="next">
			    <i class="fa fa-chevron-right"></i>
			  </a>
			</div>
		</div><!-- /.modal -->
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" >
	  <div class="modal-dialog"> 
	  	<video src="" autoplay="autoplay" controls="controls" ></video>
			<!-- <img src="" data-dismiss="modal" class="img-responsive img-rounded" alt="Responsive image" style="display: inline-block;"> -->
		</div>
    </div>

	<% include ../bottom %>

	<% include ../seajs %>
</body>

</html>