
<section class="page" id="page-6" data-title="6">
<div class="allcontent">
<div class="container">
 	<div class="row " id="row-1">
		<div class="col-sm-12 text-left">
			<a  href="/project" class="en-ch"><h2 class="bigpage" txt="project" ></h2><h2> >></h2></a>
		</div>
		<div class="shadowbox"></div>
	</div>
</div>
 	<div class="row pro">
 	<% if(projectname){%>
 		<% var offset = parseInt((12 - 3*projectname.length)/2); %>
 		<% for( var s = 0; s < projectname.length; s++ ){ %>
 			<% if( s == 0) {%>
 				<div class="col-md-3 col-sm-6  col-md-offset-<%= offset %> projectborder showner" id="project-<%= s+1 %>">
 			<% }else{ %>
 				<div class="col-md-3 col-sm-6 projectborder showner" id="project-<%= s+1 %>">
 			<% } %>
 			<a href="/project-/#<%= projectname[s].name %>" class="flexbox direc-col en-ch" >
				<div class="project" id="project-1" style='background-image: url("<%= projectname[s].imgs %>-min");'></div>
				<div class="project-text"><%= projectname[s].name %></div>
			</a>
			</div>
 		<% } %>
 	<% } %>
	</div> 
</div>
</section>
