
<section class="page" id="page-6" data-title="6">
<div class="allcontent">
<div class="container">
 	<div class="row " id="row-1">
		<div class="col-sm-12 text-left flexbox main-between">
			<h2 txt="project" ></h2>
			<div class="morebtn">
				<a href="/project" class="en-zh"><button type="button" class="btn btn-default btn-lg"  txt="more"> </button></a>
			</div>
		</div>
		
	</div>
</div>
 	<div class="row pro">
 	<% if(projectname){%>
 		<% var offset = parseInt((12 - 3*projectname.length)/2); var first = 0;%>
 		<% for( var s = 0; s < projectname.length && s< 4; s++ ){ %>
 			<% if( !projectname[s].imgs) continue;%>
 			<% if( !first ) {%>
 				<% first++ ;%>
 				<div class="col-md-3 col-sm-6  col-md-offset-<%= offset %> projectborder showner" id="project-<%= s+1 %>">
 			<% }else{ %>
 				<div class="col-md-3 col-sm-6 projectborder showner" id="project-<%= s+1 %>">
 			<% } %>
 			<a href="/project/#<%= 'proj-'+(s+1) %>" class="flexbox direc-col en-zh" >
				<div class="project" id="project-1" style='background-image: url("<%= projectname[s].imgs %>-min");'></div>
				<div class="project-text" txt="proj<%= s+1 %>"></div>
			</a>
			</div>
 		<% } %>
 	<% } %>
	</div>
</div>
</section>
