<!DOCTYPE html>
<html>
<head>
	<title>Radxa Service</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><!--product-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!--product-->
<!--	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">deve-->
<!--	<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">deve-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/font.css">
	<link rel="stylesheet" type="text/css" href="/less/design.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/animate.min.css" type="text/css">

	<meta http-equiv="X-UA-Compatible" content="IE=11" />
</head>

<body >
	<% include ../header %> 
	<header class="flexbox secon-end">
		<div class="rotatebg" id="bg-1"></div>
		<img src="/images/design/notebooka1i.png"  class="wow bounce"> 
	</header>
	<section id="sec-1" class="flexbox direc-col ">
		<div class="container">
			<div class="text-center"> 
				<h2 txt="t_1"></h2>
				<h2 txt="t_2"></h2>
			</div>
			<div class="row " id="row-1">
				<div class="col-lg-12 ">
					<div class="title-line flexbox main-between">
					<strong txt="des_p1_t1"></strong>
					</div>
				</div>
			</div>
		
			<div class="row " id="row-2">
				<% var tags = [4, 4, 4]; %>
				<% for(var i = 0; i< 3 ; i++){ %>
					<div class="col col-sm-4 text-center">
						<strong txt="p1_s<%= i+1 %>_1"></strong>
						<ul class="tags">
							<% for(var j = 0; j< tags[i] ; j++){ %>
								<p txt="p1_s<%= i+1 %>_<%= j+1 %>" data-toggle="tooltip" data-original-title="Tooltip on top" data-placement="left" ></p>
							<% }%>
						</ul>
						<img src="/images/design/title/title<%= i+1 %>.png" class="">
					</div>
				<% }%>
			</div>
		</div>
	</section>
	<section id="sec-2">
	
		<div class="rotatebg" id="bg-2"></div>
		<div class="container">
			<div class="row " id="row-1">
				<div class="col col-xs-12 text-center">
					<h1 txt="des_p2_t1"></h1>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-6 text-left" id="left">
					<h2 txt="p2_t2_1"></h2>
					<p txt="p2_t2_1_d"></p>
					<h2 txt="p2_t2_2"></h2>
					<p txt="p2_t2_2_d"></p>
					<h2 txt="p2_t2_3"></h2>
					<p txt="p2_t2_3_d"></p>
				</div>
				
				<div class="col-md-6" id="right">
				<% for(var k = 0; k< 7 ; k++){ %>
					<div class="row flexbox">
						<div class="col-md-2 col-md-offset-1 text-center">
							<img class="img-responsive" src="/images/design/setp/setp0<%= k+1 %>.png">
						</div>
						<div class="col-md-9 text-left">
							<h3 txt="p2_t1_<%= k+1 %>"></h3>
							<p txt="p2_t1_<%= k+1 %>_d"></p>			
						</div>
						<hr/>
					</div>
				<% } %>
				</div>
			</div>
		</div>
	</section>
	<section class="flexbox direc-col " id="sec-3">
		<div txt="hello" class="bigpage"></div> 
		<div class="allcon " >
			<div class="form ">
				<form class="form-horizontal" role="form">
					<div class="form-group">
				    	<i class="fa fa-user wow bounceIn" ></i>
				    	<div >
				      		<input type="text" class="form-control" id="inputName3" placeholder="Name">
				      	</div>
				    </div>
				    <div class="form-group">
				    	<i class="fa fa-lightbulb-o wow bounceIn"></i>
				    	<div >
				     		<input type="company" class="form-control" id="companyname" placeholder="Project/Company">
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<i class="fa fa-envelope-o wow bounceIn"></i>
				    	<div >
				     		<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
				    	</div>
				    	<span>*</span>
				  	</div>
				  	<div class="form-group">
				    	<i class="fa fa-paper-plane wow bounceIn"></i>
				   		<div >
				    		<textarea class="form-control" rows="8" placeholder="Message" id="textarea3"></textarea>
				    	</div>
				    	<span>*</span>
				  	</div>
				    <div>
				      <button type="submit" class="btn btn-info btn-block" txt="submit"></button>
				    </div>
				</form>
			</div>
		</div>
	</section>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Message</h4>
		      </div>
		      <div class="modal-body">
		        <p class="formmessage" style="font-size:25px;"></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	<% include ../bottom %>
	<% include ../seajs %>
</body>
</html>