<!DOCTYPE html>
<html>
<head>
	<title>Radxa project</title>
	<link rel="stylesheet" type="text/css" href="http://172.168.1.88:3000/stylesheets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/Font-Awesome/css/font-awesome.min.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/font.css">
	<link rel="stylesheet" type="text/less" href="/less/more.less">

	<meta http-equiv="X-UA-Compatible" content="IE=11" />
</head>

<body >
	<% include ../header %>
	<div class="jumbotron marked">
		<div class="container" id="bigbord">
	  		<%- index %>
	  	</div>
	</div>
	<div class="content marked">
		<% var color = [{"bgd": "#FFFFFF"},{"bgd": "#F3F3F3"}]%>
		<% for( var s = 0; s < marks.length; s++ ){ %>
			<% if( s%2 == 0){ %>
			<section class="boxborder " style="background-color:<%= color[s%2].bgd %>;">
			<div class="container">
				<div class="row">
					<div class="col-xs-7">
						 <%- marks[s].text %>
					</div>
					<div class="col-xs-5">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
						<img src="<%- marks[s].img %>" style="margin-bottom:10px;">
						</a>
					</div>
				</div>
				</div>
			</section>
			<% } else { %>
			<section class="boxborder " style="background-color:<%= color[s%2].bgd %>;">
			<div class="container">
				<div class="row">					
					<div class="col-xs-5">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
						<img src="<%- marks[s].img %>" style="margin-bottom:10px;">
						</a>
					</div>
					<div class="col-xs-7">
						 <%- marks[s].text %>
					</div>
				</div>
				</div>
			</section>
			<% } }%>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="modal-body flexbox direc-col">
                	<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <img src="" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </div>
	<% include ../bottom %>

	<script src="http://172.168.1.88:3000/javascripts/seajs-3.0.0/dist/sea.js"></script>

	<script>
	  seajs.config({
	    base: "/javascripts/",
	    alias: {
	    	"jquery": "http://172.168.1.88:3000/javascripts/jquery/jquery-seajs.js",
	    	"bootstrap-js": "http://172.168.1.88:3000/stylesheets/bootstrap/js/bootstrap-seajs.js",
	    	"less": "http://172.168.1.88:3000/javascripts/less.js"
	    }
	  });

	   seajs.use("more/main-more");

	</script>

</body>
</html>